.footer {
    display: flex;
    /* border: 1px solid black; */
    border-radius: 0.5em;
    padding: 1em;
    align-items: center;
    justify-content: center;
    min-width: 98%;
    margin-top: auto;
    gap: 2em
}

footer div {
    font-size: 0.7em;
    flex: 1 1 50%
}

footer div p:first-child {
    font-weight: bold
}

#about {
    text-align: right;
}
